*{
    margin: 0;
    padding: 0;
    font-family: century gothic;
}
html{
    scroll-behavior: smooth; 
    scrollbar-width: thin;
}
body{
    height: 100vh;
}
.m1{
    background: rgb(255, 174, 0);
    border-bottom:  2px solid #000;

}
.main{
    max-width: 1200px;
    margin: auto;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    padding-bottom: 30px;
}
.logo img{
    float: left;
    width: 70px;
    height: auto;
}
.logo{
    margin-top: 20px;
    margin-left: 20px;
}
.logo a{
    font-size: 30px;
    text-decoration: none;
    text-transform: uppercase;
    height: auto;
    color: #000;
}
ul{
    list-style-type: none;
    margin-top: 25px;
    margin-right: 70px;
}
ul li{
    display: inline-block;
}
ul li a{
    text-decoration: none;
    color: #000;
    padding: 10px 20px;
    font-size: 20px;
    position: relative;
}
ul li a:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    border-bottom: 2px solid indianred;
    transition: 0.6s ease;
}
ul li a:hover::before{
    width: 100%;
}

.ED{
    padding-top: 20px;
    align-items: center;
}
.ED img{
    height: 250px;
}
.r1{
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 20px;
}
.r1 a{
    text-decoration: none;
    color: #000;
    font-size: 20px;
    border: 1px solid transparent;
    font-family: sans-serif;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    transition: 0.4s;
}
.r1 a:hover{
    background: pink;
    border: 1px solid indianred;
}
.f3-2{
    color: #000;
    display: flex;
    padding-top: 20px;
    justify-content:center;
}
.f3-2 p{
    padding-top: 20px;
    text-align: center;
    font-size: medium;
}
.f3-2 img{
    padding: 5px;
    width: 50px;
}


.media_scroller{
    height: 250px;
    margin: auto;
    position: relative;
    width: 97%;
    display: grid;
    place-items: center;
    overflow: hidden;
}
.scroller{
    display: flex;
    width: calc(250px* 10);
    animation: scroll 40s linear infinite;
}
.scroller:hover{
    animation-play-state: paused;
}
@keyframes scroll{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(calc(-250px* 9));
    }
}
.media_elements{
    height: 200px;
    width: 250px;
    display: flex;
    padding: 20px;
    perspective: 1000px;
}
.media_elements img{
    transition: 0.5s;
    margin: 20px;
}
.media_elements img:hover{
    transform: translateZ(100px);
}
.space{
    margin-left: 20px;
    padding-top: 20px;
    font-size: 20px;
}