*{
    margin: 0;
    padding: 0;
    font-family: century gothic;
}
html{
    scroll-behavior: smooth; 
    scrollbar-width: thin;
}
.main{
    max-width: 1200px;
    margin: auto;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
}
header{
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.2)), url(../images/bgimg.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}
.logo img{
    float: left;
    width: 100px;
    height: auto;
}
.logo{
    margin-top: 50px;
    align-content: center;
}
.logo a{
    font-size: 30px;
    text-decoration: none;
    text-transform: uppercase;
    height: auto;
    color: #fff;
}
ul{
    list-style-type: none;
    margin-top: 25px;
}
ul li{
    display: inline-block;
}
ul li a{
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    font-size: 20px;
    position: relative;
}
ul li a:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    border-bottom: 2px solid indianred;
    transition: 0.6s ease;
}
ul li a:hover::before{
    width: 100%;
}
.login{
    margin-top: 25px;
}
.login a{
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    font-size: 20px;
    border: 1px solid transparent;
    background: indianred;
    border-radius: 10px;
    font-family: sans-serif;
    transition: 0.4s;
}
.login a:hover{
    background: transparent;
    border: 1px solid indianred;
}
.uname{
    display: none;
    justify-content: center;
}
.userName{
    position: relative;
    color: white;
    background: orange;
    font-size: 20px;
    margin-top: 20px;
    padding: 10px 30px;
    border-radius: 10px;
    cursor: pointer;
}
.submenu1{
    position: absolute;
    top: 100%;
    right: 1.5%;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 1s;
}
.submenu1.openit{
    max-height: 400px;
}
.submenu{
    position: relative;
    color: white;
    background: indianred;
    margin-top: 20px;
    padding: 7px 20px;
    border-radius: 10px;
    cursor: pointer;
}
.submenu:hover{
    background: transparent;
    border: 1px solid indianred;
}
.userout{
    display: flex;
    align-items: center;
}
.userout h3{
    font-weight: 500;
}
.title{
    padding: 170px 230px;
    justify-content: center;
}
.title h1{
    color: rgb(221, 175, 69);
    font-size: 30px;
}
.title h2{
    color: rgb(221, 175, 69);
    padding-left: 35px;
    font-size: 30px;
}
.title h3{
    color: rgb(221, 175, 69);
    padding-left: 50px;
    font-size: 30px;
}
.nav_to{
    top: 65%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    display: flex;
    justify-content: space-between;
}
.nav_to div{
    padding: 16px;
    color: #fff;
    font-size: 20px;
}
.FM a{
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    font-size: 20px;
    border: 1px solid transparent;
    background: indianred;
    border-radius: 10px;
    font-family: sans-serif;
    transition: 0.4s;
}
.FM a:hover{
    background: transparent;
    border: 1px solid indianred;
}
.GH a{
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    font-size: 20px;
    border: 1px solid transparent;
    background: indianred;
    border-radius: 10px;
    font-family: sans-serif;
    transition: 0.4s;
}
.GH a:hover{
    background: transparent;
    border: 1px solid indianred;
}
.ED a{
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    font-size: 20px;
    border: 1px solid transparent;
    background: indianred;
    border-radius: 10px;
    font-family: sans-serif;
    transition: 0.4s;
}
.ED a:hover{
    background: transparent;
    border: 1px solid indianred;
}
.footer{
    margin: 0;
    padding:0;
}
.f2{
    color: #fff;
    text-align: left;
}
.f2 form{
    padding: 50px;
    background-color: #232F3E;
}
.f3-2{
    color: #fff;
    display: flex;
    padding-top: 10px;
    justify-content:center;
    align-items: center;
    background-color: #131a22;
}
.f3-2 p{
    text-align: center;
    font-size: medium;
}
.f3-2 img{
    padding: 5px;
    width: 50px;
}